<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <title>Da Burger</title>
	    <link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">
	    <link rel="stylesheet" href="/assets/css/reset.css" type="text/reset">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css">

</head>

<body>

<img src="assets/image/Hardees-Classic-Double-Cheeseburger.png">


		{{{ body }}}


</body>
</html>